.jumbotron
    .container
        h1 Hello, world!
        p
            | This is some template for a simple marketing or informational website
        p
            a.btn.btn-primary.btn-lg(role='button') Learn more &raquo;